body {
    background: rgb(209, 206, 206);
  }

.states {
    align-items: center;
    display: flex; 
    flex-direction: row;
    flex-flow: row wrap;
    height: 6rem;
    justify-content: center;
    margin: 1rem; 
    padding: 0rem;
    width: 75;
}

.state{
    /*box-sizing: border-box;*/
    border-radius: 12px;
    border-bottom-color: rgb(120, 202, 202);
    border-right-color: rgb(120, 202, 202);
    color: rgb(24, 78, 78);
    cursor: pointer;
    font-size: 18px;
    height: 4rem;
    width: 25rem;
}

.state:hover{
  background-color: rgb(173, 173, 173);
}

ul {
  margin: 1rem;
  padding: 0;
}

ul li {
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: rgb(84, 153, 153);
}

/* When clicked on, add a background color and strike out text */
ul li.done {
  background: #888;
  color: rgb(120, 202, 202);
  text-decoration: line-through;
}

ul li.complete {
  background: #888;
  color: rgb(120, 202, 202);
  text-decoration: line-through;
}


/* Add a "done" mark when clicked on */
ul li.done::before {
  content: '';
  position: absolute;
  border-color: rgb(120, 202, 202);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 8px;
}


.inputTask {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex; 
  flex-direction: row;
  flex-flow: row wrap;
  height: 6rem;
  margin: 1rem; 
  padding: 0rem;
  width: 75;
}

.inputField{
  /*box-sizing: border-box;*/
  color: rgb(162, 173, 173);
  height: 2rem;
  width: 90%;
}

.inputBtn {
    background-color: rgb(16, 115, 145);
    border-radius: 10px;
    border-left: none;
    box-shadow: 0 9px #999;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    margin-left: 1rem;
    text-align: center;
    text-decoration: none;
  }
  
  .inputBtn:hover {
    background-color: rgb(15, 99, 124)
  }
  
  .inputBtn:active {
    background-color: rgb(8, 83, 105);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  